[2018-04-25 08:33] qayshp opened #10 "(Seeming non-deterministic) Travis-CI Build Failures"
Looking at https://travis-ci.org/nmklotas/GitLabApiClient/pull_requests

I thought my change in https://github.com/nmklotas/GitLabApiClient/pull/9 would address this, but was wrong. Even though it had built successfully multiple times, it again started to fail with 401 and other errors that lead me to believe the GitLab service was not setup properly for the test run.

Will continue discussion her

[2018-05-03 23:48] qayshp commented on #10
From a daily scheduled travis run on my fork, the same exact commit has passed and failed 4 times each.

![image](https://user-images.githubusercontent.com/714080/39607726-729121b0-4ef1-11e8-877e-a79327e16c6a.png)

In all cases it looks like gitlab wasn't set up correctly, or hadn't started completely.
https://travis-ci.org/qayshp/GitLabApiClient/builds/373378356 was 401s
https://travis-ci.org/qay

[2018-11-05 12:37] DTeuchert opened #12 "Issue weight and issue time stats are missing"
The issue weight and issue time stats (including estimated and spent time) are missing the response model of the IssueClient.

[2018-11-14 14:05] DTeuchert commented on #12
@nmklotas This issue can be closed by the pull request https://github.com/nmklotas/GitLabApiClient/pull/13.

[2018-11-14 18:06] nmklotas commented on #12
Thanks! Closing this.

[2018-11-14 18:06] #12 closed

[2018-12-13 21:32] Eibwen opened #18 "Ability to use project name as id"
It seems the only way to limit things to a certain project is the int id.  And getting the int id is not easy on a large gitlab setup (took 2 minutes for me to `client.Projects.GetAsync()`)

The gitlab API does support escaped `group/project` endpoints.  I.e. `$"projects/{group}%2F{project}/repository/commits"`

I do not see a way to specify it in that fashion, but it would be very helpful

[2019-01-19 13:55] splitt3r opened #19 "IssueId vs IssueIid in IssueUpdateRequest"
I think this https://github.com/nmklotas/GitLabApiClient/blob/6dbcd96da0d132afb8cfd5ae7e934a901f56d0e1/src/GitLabApiClient/Models/Issues/Requests/UpdateIssueRequest.cs#L19 should be the IssueIid. While using the lib i noticed a 404 error after passing the IssueId instead of the Iid here. Also the comment indicates that the Iid should be passed here.

Anyway great lib 👍

[2019-01-19 13:59] splitt3r opened #20 "Project file upload"
I created a function to also import issue attachements. I still need to add it to this lib. For anyone looking to do the work by yourself:

See: https://docs.gitlab.com/ee/api/projects.html#upload-a-file

[code]

The returning string contains the markdown to add the uploaded files to your issues,

[2019-01-19 15:45] nmklotas commented on #19
Thanks! I will look into it

[2019-01-30 21:28] LeandroPT opened #21 "Oauth Bearer Token Authorization"
The authentitaion should be wider than the PRIVATE_TOKEN

With Oauth we should also be able to send a Bearer Token

https://docs.gitlab.com/ee/api/oauth2.html#access-gitlab-api-with-access-token

For what i can see the change is on private GitLabHttpFacade:

https://github.com/nmklotas/GitLabApiClient/blob/bef459a658c3a7d9a84ec6a0be66880cc23b4c2d/src/GitLabApiClient/Internal/Http/GitLabHttpFacade.

[2019-02-14 09:08] mlinduska opened #22 "ProjectMergeRequestsQueryOptions"
Hello, I'd like to report a following bug:

**What happened:**
Calling `MergeRequestsClient.GetAsync` method with `ProjectMergeRequestsQueryOptions` and specifying `MergeRequestsIds` does not filter it.

**Repro steps:**
Example code:
`client.MergeRequests.GetAsync(projectId, o => { o.State = GitLabApiClient.Models.MergeRequests.Requests.QueryMergeRequestState.Merged; o.MergeRequestsIds.Add(mergeR

[2019-02-14 17:56] nmklotas commented on #22
Thanks for bringing this up!

[2019-02-14 17:56] #22 closed

[2019-02-14 18:20] nmklotas commented on #22
Thanks, I've merged your fix into 1.0.3.

[2019-02-22 14:10] gep13 opened #24 "Support for creating a Release on a GitLab Project"
Is there currently support for this:

https://gitlab.com/help/user/project/releases/index

Thanks

[2019-02-22 19:40] nmklotas commented on #24
Hi, unfortunately there's no support for that. I would be happy to accept PR for this :)

[2019-02-22 20:57] gep13 commented on #24
@nmklotas just getting started playing with GitLab and working against the REST API.  If I can up and running with it, I will try to send some code back into this repository.

[2019-03-19 14:30] WebDucer opened #25 "Sealed clients"
Hello.

Is there a reason, why all clients are sealed? With sealed classes it is realy hard to extend the clients with own implementations (e.g. labels of groups or pipeline).

With not sealed classed it would be fine to test the new function with extended classes and all works as expected, perhaps make an merge request with the changes to the origin client.

[2019-03-19 18:12] nmklotas commented on #25
Hi,

Probably it would make sense for us to make them not sealed, to allow more different ways to use the clients, but then we would need to make protected/public constructors for them and library consumers would depend on clients internal dependencies, I want to keep them internal to be able change them without breaking the library compatibility.

[code]

to remove the dependencies from the clien

[2019-03-19 18:37] WebDucer commented on #25
That was the intention. But normally I like to test and develop by extending the libraries. And if all looks good, I contribute the changes to the origin projects.

At least I plan to extend your great lib with the Client for pipelines.

[2019-03-21 17:21] nmklotas commented on #25
Ok, Client for pipelines would be really useful. Not sure what you mean by class level extension though, perhaps there are some scenarios I'm not aware of you want to accomplish using the extension points?

[2019-04-24 16:31] nmklotas commented on #20
This is implemented and shiped in 1.0.5. Thanks @yankun !

[2019-04-24 16:31] #20 closed

[2019-04-26 22:36] rgomez90 commented on #25
Maybe creating interfaces for the clients would be another option.

This way a consumer can implement the given interface using the built-in client and add wished features.

This is the way octokit.net works, which is the most used lib for GitHub API in .NET.

[2019-06-03 19:13] Starina123 opened #31 "Support Markdown API"
Hi.

Are you planning to add support for [Markdown API ](https://docs.gitlab.com/ee/api/markdown.html)?

[2019-06-04 08:34] nmklotas commented on #31
Hi,

Yes it should be supported eventually, I'm happy to accept PR for this.

[2019-06-11 01:09] marthcat opened #32 "Add 'Closed_~' Property in some models"
Hello~

I need "Closed_at"  & "Closed_by" Property in 'Issue' (& 'Merge request') Model.

Can you add it ?

I think type the next code somewhere.
[code]
Thanks~

[2019-06-25 15:15] Starina123 opened #33 "Support Namespaced path encoding calls"
GitLab API has two ways to access the project info (see [doc](https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding)).

1. By project ID (ex. https://gitlab.com/api/v4/projects/13083).
2. By namespace and project name (ex. https://gitlab.com/api/v4/projects/gitlab-org%2fgitlab-ce).

Add this functionality please.

[2019-06-26 10:44] raisr opened #34 "How to access a projects wiki"

[2019-06-26 20:11] Starina123 commented on #33
I looked the code. Now some methods use ```int projectId``` some ```string projectId```. See [IssuesClient.cs ](https://github.com/nmklotas/GitLabApiClient/blob/19456a7c7753c44787371f17d815071ed5e33965/src/GitLabApiClient/IssuesClient.cs#L52) for example and parametr description [hear](https://github.com/nmklotas/GitLabApiClient/blob/8dd8f51fd379e2ef000e4206b12d816f9ce11bac/src/GitLabApiClient/Mod

[2019-06-27 18:04] nmklotas commented on #34
Hi, not yet, PR's are welcome for this

[2019-06-27 18:47] raisr commented on #34
I'm already working on it. I'll send you a pull request when i'm done.

[2019-08-13 10:54] Stefan-J-Hanke opened #35 "Add support for Pipelines"
I'd like to contribute pipelining support to this library, as mentioned in #25.
I think the basic functionality could be done like all other clients currently, as long as there is no other way forward.

Thoughts?

[2019-08-13 10:57] nmklotas commented on #35
Hi,

Your PR would be very welcome. I agree that this should be done like in the other clients ;)
Not sure how this connects with #25? :/

[2019-08-13 10:59] Stefan-J-Hanke commented on #35
Regading the other issue - it was just mentioned there, no real connection.

Glad you OK with that. Could take a week or so, currently I feel a bit load, but am determined to do it :)

[2019-08-13 11:06] nmklotas commented on #35
Great. If you need something just ask!

[2019-08-16 07:49] Stefan-J-Hanke commented on #35
The [Pipeline page](https://docs.gitlab.com/ce/api/pipelines.html) contain an example where there is a user. How do you think this should be implemented? Should I reuse `GitLabApiClient.Models.Users.Responses.User` or create a separate model class? I'd tend to latter since it looks like containing only a small subset of information.

There are two different representations of pipelines. When one l

[2019-09-07 06:58] #24 closed

[2019-09-07 17:50] dnagl opened #38 "Support for Branches API"
I'm currently working on a feature to support the Branches API from Gitlab

[2019-09-08 09:32] #38 closed

[2019-09-08 15:12] #32 closed

[2019-09-09 20:14] dnagl commented on #31
The support for markdown is done with PR #45

Have fun with it guys :)

[2019-09-10 08:11] MurashovAlexander commented on #31
Hi!

How to create **MarkdownClient**?

Please, add property **MarkdownClient** in **GitLabClient.cs**

[2019-09-10 08:23] dnagl commented on #31
@MurashovAlexander
Thanks for your attention  - I forgot about this. I'll fix it asap (probably today or tomorrow)

[2019-09-10 16:43] dnagl commented on #31
@nmklotas Thanks for reopening - I think I'll have to fix my previous commits as well ...

[2019-09-11 06:16] #31 closed

[2019-09-11 14:12] MurashovAlexander commented on #31
404 not found exception, not working :confused:

[2019-09-11 16:54] dnagl commented on #31
@MurashovAlexander Maybe you could try to build #47 and verify that it is now working?

[2019-09-11 19:13] MurashovAlexander commented on #31
@dnagl yes, its working. 😄

@nmklotas Please, merge with master branch.

[2019-09-12 12:42] casz opened #48 "Use release drafter for GitHub releases"
Release drafter uses Pull requests and labels to generate release notes :)

Read more about release drafter here: https://github.com/toolmantim/release-drafter

See usage here: https://github.com/jenkinsci/configuration-as-code-plugin/releases
See example config here: https://github.com/jenkinsci/.github/blob/master/.github/release-drafter.yml

[2019-09-12 12:44] jetersen opened #49 "Add models for webhook events"
I'd like to contribute models for webhooks events :)

https://docs.gitlab.com/ee/user/project/integrations/webhooks.html

[2019-09-16 07:15] MurashovAlexander opened #50 "Error deserialize closed issue json"
[Issue.cs#L40](https://github.com/nmklotas/GitLabApiClient/blob/master/src/GitLabApiClient/Models/Issues/Responses/Issue.cs#L40):
[code]

[GitLab API Documentation](https://gitlab.com/help/api/issues.md#list-project-issues):
[code]

Please, fix it

[code]

[code]

[2019-09-17 08:52] dnagl commented on #50
@MurashovAlexander could you please give some more information about the exception?

[2019-09-17 09:03] MurashovAlexander commented on #50
JsonReaderException: Unexpected Character encountered while parsing value: {.Path '[0].closed_by', line 1, position 538.

[2019-09-17 20:08] dnagl commented on #50
I'll have a look at it.

[2019-09-17 20:21] dnagl commented on #50
Issue should be fixed in PR #53

[2019-09-18 05:21] MurashovAlexander commented on #50
thanks

[2019-09-18 05:58] #50 closed

[2019-09-19 03:41] nicholasyin opened #54 "Is the development of supporting more API is in progress?"
For example, the operations to branches?

[2019-09-19 04:03] casz commented on #54
Feel free to contribute? :)

[2019-09-19 04:06] casz commented on #18
I'd prefer projectId was just a string and was always encoded.

See https://github.com/gitlab4j/gitlab4j-api or https://github.com/jdalrymple/node-gitlab for good example of this

[2019-09-19 04:07] nicholasyin commented on #54
Hahaha, lemme read the infrastructure first.

[2019-09-19 04:07] casz commented on #33
Ya projectId should be string and was always encoded.

See https://github.com/gitlab4j/gitlab4j-api or https://github.com/jdalrymple/node-gitlab for good example of this

[2019-09-19 23:53] casz commented on #54
@nicholasyin #61 should fix up the branch client :)

[2019-09-20 05:12] casz opened #66 "fixup request classes and use id/path as a object on method being called"
I'd like to fix up the request classes to move id / path out of the request object and onto the parameter as type `object id`

So this pattern
https://github.com/nmklotas/GitLabApiClient/blob/2f5c1bcbf103e3ad7235af02ec2bc40c1177b718/src/GitLabApiClient/ProjectsClient.cs#L129-L133

is replaced with

[code]

[code]

reason being `id` is path parameter and not a body parameter. Same reason for all th

[2019-09-20 08:21] nmklotas commented on #54
yes, it's in progress :)

[2019-09-22 09:02] casz commented on #66
apparently the user API only supports ID of users

[2019-09-27 16:14] casz opened #71 "Target Core 3.0?"
Consider dropping .NET 4.5.2

Let's target .NET Standard 2.0 and .NET Core 3.0.
Hopefully with .NET Core 3.0 we can slowly convert the API to have [nullable references](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references)

Switch to use [System.Text.Json](https://www.nuget.org/packages/System.Text.Json) for improved performance.

I noticed a 2 second reduction in a simple data set o

[2019-09-30 16:38] tellespallabob commented on #54
I was trying to push some features which are not supported right now, do I need you to grant permissions to be able to push to origin?
Specifically I was adding support to add/update/delete environment variables in a project.

[2019-09-30 17:13] casz commented on #54
@tellespallabob you need to fork the repo and open a pull request from your branch

https://help.github.com/en/articles/fork-a-repo
https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-10-08 05:15] WebDucer commented on #35
@Stefan-J-Hanke How far is you implementation? We need this for our project, so I plan to implement pipeline client during next one or two weeks. If there is no implementation at this moment, I will start from scratch.

[2019-10-08 09:43] Stefan-J-Hanke commented on #35
@WebDucer please take it. I did not find the time to get the testing story working :-/. Unfortunately I cannot share the code, but this shouldn't be an issue; it's not that much.

[2019-10-08 12:42] WebDucer commented on #35
@Stefan-J-Hanke Ok. I'm working on it. Get methods alredy implemented is in our internal testing. Write methods are on the way. I hope to be able to make a PR end of this week.

@nmklotas What is the best ability for unit testing? I see a `localhost` as server, that is used. It is only for your local tests or do you have some CI pipelene that can execute the commands (integration tests)?

[2019-10-08 13:11] Stefan-J-Hanke commented on #35
@WebDucer  FWIW, the test uses `docker-compose` to fire up a local GitLab instance, sets default credentials via scripts and the test then waits for the instance to be up and running.

https://github.com/nmklotas/GitLabApiClient/blob/master/test/GitLabApiClient.Test/Utilities/GitLabContainerFixture.cs

[2019-10-09 04:43] WebDucer opened #74 "Cast exception on empty header values"
I get an cast exception on empty header values for next page. I use GitLab 12.3.5. If I try the request in Postman, I see, that `X-Prev-Page` is empty. `GetFirstHeaderValueOrDefault` checks only for `null`. The same for `X-Next-Page`, if there a only one page of data.

I will create a PR with fix for this.

[code]

[2019-10-09 05:38] WebDucer commented on #35
@Stefan-J-Hanke Integration tests could be difficult with pipelines. This needs an agent (for execution) and a repo with `.gitlab-ci.yml` file as pipeline trigge 😞

Any idea?

The implementation is finished and added as PR.

[2019-10-09 16:33] casz commented on #74
My bad I should have added tests 😰

[2019-10-11 06:07] dragongun200 commented on #74
same Problem here

[2019-10-11 20:40] casz commented on #74
fixed in #75 released in https://github.com/nmklotas/GitLabApiClient/releases/tag/1.1.11

[2019-10-11 20:40] #74 closed

[2019-10-11 20:44] casz commented on #71
@nmklotas what do you think of focusing on .NET Standard 2.0 and .NET Core 3.0?

It will remove the need for Travis to use mono and can solely rely on dotnet-sdk 💪

[2019-10-14 07:03] WebDucer opened #76 "Extend commit client for refs endpoint"
Extend commit client for refs endpoint. With this, you can get the references that the commit is in (branches / tags).

[2019-10-22 05:17] #18 closed

[2019-10-22 05:17] #33 closed

[2019-10-22 05:17] #66 closed

[2019-10-22 06:04] casz commented on #33
released as [1.2.0](https://github.com/nmklotas/GitLabApiClient/releases/tag/1.2.0)

[2019-10-22 06:04] casz commented on #18
released as [1.2.0](https://github.com/nmklotas/GitLabApiClient/releases/tag/1.2.0)

[2019-10-30 09:30] mburtscher opened #84 "Implement support for fetch project members"
Right now it is only possible to fetch group members. However fetching project members would be as much needed.

https://docs.gitlab.com/ee/api/projects.html#project-members

[2019-10-30 09:48] casz commented on #84
I'd like to refactor group members into a shared resource to not duplicate code.

Much like node-gitlab has it
https://github.com/node-gitlab/node-gitlab/blob/master/src/core/templates/ResourceMembers.ts
https://github.com/node-gitlab/node-gitlab/blob/master/src/core/services/ProjectMembers.ts

[2019-10-30 10:04] rong0312 opened #85 "Project documentation"
Hey,
This project seems very interesting, I would like to know if there is any documentation for
functions usage?

[2019-10-30 10:12] casz commented on #85
See the readme? there is a short snippet for usage.

As this is C# the auto complete in your editor should help you along 😄

[2019-10-30 10:26] rong0312 commented on #85
Ok, I will give a try. good luck for all hehe

[2019-10-30 10:33] #85 closed

[2019-10-30 11:11] casz commented on #35
#75 is now included in the nuget package

[2019-10-30 11:11] #35 closed

[2019-10-30 11:11] casz commented on #54
I'll close this as it is a constant work in progress 😅

[2019-10-30 11:11] #54 closed

[2019-10-31 15:19] #76 closed

[2019-11-11 10:14] casz opened #88 "NuGet API key expired"
@nmklotas Could you generate a new API key and add to appveyor.yml?

Error publishing package.\
NuGet server returned 403: The specified API key is invalid, has expired, or does not have permission to access the specified package.

[2019-11-11 10:19] nmklotas commented on #88
Hello,

yees, I will do that asap

[2019-11-11 10:22] casz commented on #88
Hope you don't mind the recent changes I did to publishing 😰

[2019-11-11 10:24] nmklotas commented on #88
I trust you. I've changed the api key ;)

[2019-11-11 10:24] #88 closed

[2019-11-11 10:32] casz commented on #88
Cheers 🥰

[2019-11-13 18:56] casz commented on #48
Now with GitHub actions enabled this should be super easy to enable :smile

[2019-11-13 19:01] casz commented on #48
Fixed in https://github.com/nmklotas/GitLabApiClient/commit/1f6d269b4564c1ba6806ac65ae90c9d1cd2eef12

[2019-11-13 19:01] #48 closed

[2019-11-13 19:07] casz commented on #48
and in https://github.com/nmklotas/GitLabApiClient/commit/b274a82ab8422bb04758f030eaf66ac78c923466 we need some config :)

[2019-11-13 19:47] casz commented on #48
Release drafter at work:
![image](https://user-images.githubusercontent.com/1661688/68798521-da70c880-0656-11ea-850a-bc4f716218b5.png)

[2019-11-13 22:13] nmklotas commented on #48
Looks amazing :)

[2019-12-10 12:25] gep13 opened #94 "How to get project id?"
This could be a silly question, and I apologise in advance if this is covered elsewhere, but I can't immediately find a way to get what I need...

I want to be able to get all the Milestones for a project that I have on gitlab.com.  The project in question is https://gitlab.com/gep13/fakeproject.  In order to get the milestones, I have to provide the project id, and I don't see a way to get this i

[2019-12-10 12:36] casz commented on #94
simply use `gep13/fakeproject` or look here:
![image](https://user-images.githubusercontent.com/1661688/70529931-0302ba00-1b52-11ea-88db-e62e02756372.png)

[2019-12-10 13:20] gep13 commented on #94
@casz perfect, thank you very much!

[2019-12-10 13:20] #94 closed

[2019-12-10 21:13] gep13 opened #95 "Question: Is there something similar to the GitHub Compare API"
When using Octokit for querying GitHub, it is possible to do something like:

[code]

Which returns the number of commits between the current milestone/tag and the master branch.  Do you know if there is something similar in the GitLab API for getting the same information?

[2019-12-10 21:42] gep13 opened #96 "Issue when creating Release through API"
I have just attempted to create a GitLab Release through the API when the tag doesn't currently exist on the Repository.  When I did this, I got the following response in Fiddler:

![image](https://user-images.githubusercontent.com/1271146/70571388-b5a83c00-1b95-11ea-8af7-0086dffb3a69.png)

Looking at the documentation, it suggests that when the tag doesn't exist, I can specify a `Ref` to point to

[2019-12-11 03:27] casz commented on #96
I believe this is something that was not added to the API.

[2019-12-11 03:28] casz commented on #95
The API is there: https://docs.gitlab.com/ee/api/repositories.html#compare-branches-tags-or-commits
Yet not added to this library.

[2019-12-11 07:20] gep13 commented on #96
@casz I only started using this library yesterday, and I haven't started digging into the code yet.  Having the ability to set the `Ref` property is something that I would like to see added to the library.  Can you please give me some pointers on what code needs to be added, and I would be happy to submit a PR to get it added.  Thanks.

[2019-12-11 07:21] gep13 commented on #95
@casz I only started using this library yesterday, and I haven't started digging into the code yet.  Having the ability to use this portion of the GitLab API would be something that I would really like to see added to this library.  Can you please give me some pointers on what code needs to be added, and I would be happy to submit a PR to get it added.  Thanks.

[2019-12-11 07:26] casz commented on #96
https://github.com/nmklotas/GitLabApiClient/blob/master/src/GitLabApiClient/Models/Releases/Requests/CreateReleaseRequest.cs seems to only consider one use case so it will properly need to be modified

[2019-12-11 07:29] casz commented on #95
We could properly benefit from consolidating the repository specific api into a repository client at moment they are a bit spread out: https://github.com/nmklotas/GitLabApiClient/search?q=repository+filename%3Aclient&unscoped_q=repository+filename%3Aclient

[2019-12-11 11:39] yteruel31 opened #97 "Get issues from Group of projects"
Add the ability to get all issues from Group.

Doc Gitlab API :
https://docs.gitlab.com/ee/api/issues.html#list-group-issues

[2019-12-14 15:01] #96 closed

[2019-12-17 15:43] WebDucer commented on #97
@casz @yteruel31 I will implement this during this week. We also need issues for all projects of a group. The same for the group labels (only labels of the group).

[2019-12-18 09:08] WebDucer commented on #97
As I see, the `Issues` client uses `GetAsync` overloads to get issues (in general) and to get project issues. If we extend this for groups, the overloads are not unique:

[code]

`ProjectId` and `GroupId` are normaly implicitly converted from string (name) or id (int). I think, we have to mark the project `GetAsync` method as **DEPRECATED** and use more explizit method names, like:

- `GetForProje

[2019-12-18 09:16] casz commented on #97
I would like to reference how this was implemented in node-gitlab

https://github.com/node-gitlab/node-gitlab/blob/481876c186873e8264b6b3c18a8dfc6842658279/src/core/services/Issues.ts#L28-L32

Here you have to use named object map, we could achieve the same.

[2019-12-18 09:18] casz commented on #97
In general I see several issues in our clients that I want to tackle to get a similar structure to node-gitlab.

[2019-12-18 09:33] WebDucer commented on #97
So we wood have something like:

[code]

[2019-12-18 09:44] casz commented on #97
That could definitely work @WebDucer

[2019-12-18 09:51] WebDucer commented on #97
@casz OK. Then I mark the two `GetAync` mehtods as obsolet and create a new `GetAllAsync` in the issues client.

[2019-12-24 08:48] TemoxaGreenMoney opened #102 "Get list MR?"
Hi

How i can get merge requests list filter by field "merge_status" ?

And i not found in GetAsync method field "title", "description"?

[2019-12-24 09:24] casz commented on #102
To answer your first question:

[code]

Not sure about second question as both title and description should be on the return object.

[2019-12-24 09:43] TemoxaGreenMoney commented on #102
This field not for my task(

I must have MR in status "merge_status=cannot_be_merged"

[2019-12-24 09:53] casz commented on #102
@TemoxaGreenMoney this is not something offered in the gitlab api.

You will have to filter by open MRs and filter them using the attribute `has_conflicts`

[2019-12-24 10:07] casz commented on #102
Could be that the csharp object does not have all the newer attributes. Feel free to contribute :)

[2019-12-24 10:09] TemoxaGreenMoney commented on #102
I solved problem this code

`
var listMr = await client.MergeRequests.GetAsync();
var listMr = listMr.Where(f => f.Status == MergeStatus.CannotBeMerged).ToList();
`

[2019-12-24 10:15] casz commented on #102
@TemoxaGreenMoney you properly still want to filter your GetAsync with `QueryMergeRequestState.Open`

[2019-12-24 10:20] TemoxaGreenMoney commented on #102
QueryMergeRequestState - not include need value "cannot_be_merged"

[2019-12-24 10:56] casz commented on #102
According to the docs: https://docs.gitlab.com/ee/api/merge_requests.html that state is not included

[2019-12-24 11:03] #102 closed

[2019-12-26 10:19] #10 closed

[2019-12-26 10:19] #71 closed

[2019-12-26 10:32] casz commented on #10
We now use fluent docker, that has a option to wait for healthy, using the docker health check 👍

[2019-12-28 22:09] casz commented on #21
I added support for bearer token and even added support for requesting an API token with username and password.

[2019-12-29 13:47] #21 closed

[2020-01-01 16:26] jetersen opened #104 "Trees Client cannot handle parallism"
Properly need to avoid using too many internal options.
[code]

[2020-01-02 04:30] twindan opened #107 "Support "/namespaces" API"
The /namespaces API ([https://docs.gitlab.com/ee/api/namespaces.html](url)) returns a list of all namespaces available to a user.

It seems like the type returned from that API is compatable with GitLabApiClient.Models.Projects.Responses.Namespace.

[2020-01-13 23:19] #97 closed

[2020-01-19 09:52] ReallyLiri opened #112 "Support merge requests approvals API"
See documentation:
https://docs.gitlab.com/ee/api/merge_request_approvals.html

[2020-01-21 13:41] hhko opened #113 "Do you have any plans to support MockHttp or Moq.Contrib.HttpClient"
Do you have any plans to support [MockHttp](https://github.com/richardszalay/mockhttp) or [Moq.Contrib.HttpClient](https://github.com/maxkagamine/Moq.Contrib.HttpClient) for unit test?

[2020-01-21 13:53] casz commented on #113
Not sure what a mock framework has to do with writing unit tests for your project?

[2020-01-21 14:25] hhko commented on #113
I want to test some test-scenarios without any physical dependence such as gitlab.com.

[2020-01-21 14:27] casz commented on #113
Look at our test setup it uses a gitlab container.

[2020-02-03 15:32] casz commented on #113
Not sure I am interested in adding support, unless you can demonstrate value by adding a pull request with downstream usage.

[2020-02-03 15:32] #113 closed

[2020-02-17 18:30] ryepup opened #117 "Support environments API"
From the [Environments docs](https://docs.gitlab.com/ee/ci/environments.html):

API endpoints are available on https://docs.gitlab.com/ee/api/environments.html

[2020-02-20 09:58] yteruel31 opened #118 "The "checking" merge_status are missing on MergeStatus Model"
Version : 1.4.0

When I want to create a MergeRequest with these following instruction :

[code]
My app throw this exception :

[code]

You have a method for bypass this exception ?

[2020-03-03 08:03] WebDucer opened #120 "Extend issue model with task status"
The issue model from GitLab has information about the tasks inside of the issue. This should be also repesented in our model (like we already do for time statistic).

[code]

[2020-03-04 14:59] #120 closed

[2020-03-08 16:18] nicholasyin opened #123 "ProtectBranchAsync throws exception"
![image](https://user-images.githubusercontent.com/17007651/76166685-58735500-619b-11ea-9de7-5373d7b475c6.png)
Here's my code
`ProtectBranchAsync(
                            project,
                            new ProtectBranchRequest(
                                "master",
                                ProtectedRefAccessLevels.MAINTAINER_ACCESS,
                                ProtectedRef

[2020-03-10 09:01] ManniManfred opened #125 "AutoDevopsEnabled property"
Support for AutoDevopsEnabled (auto_devops_enabled) property for groups

[2020-03-12 04:16] nicholasyin commented on #123
Looks like no one is tracking this issue list. pity...

[2020-03-12 08:35] Jetersen commented on #123
There is but equally there is a no expectation that your issue will be resolved without contributing.
At the moment I started at a new workplace where we do not use gitlab. So my interest in the project is only there for my personal interests in open source however I am maintaining several projects.

I would happily accept a full request.

[2020-03-13 05:00] nicholasyin commented on #123
In another words, "This is my personal project now. It's you guys who decide to download and use, so don't expect anything more than that.". Fair enough...

[2020-03-13 05:00] #123 closed

[2020-03-13 08:07] Jetersen commented on #123
It is all about expectations and having unreasonable exception towards open source as someone who does not contribute to open source, I can understand your misconception towards open source as it take time and effort to invest in something.

This was not even my project to begin with, I found issues and started contributing.
I solved the problems I had. I invested my time and energy into the proje

[2020-03-16 13:12] azhe403 opened #126 "Use await vs .Result"
I Have this code.

[code]
Why can't used with`await` like
`var groups = await GitLabProvider.Client.Groups.SearchAsync("azhe");`

Instead of `.Result`
`var groups = GitLabProvider.Client.Groups.SearchAsync("azhe").Result;`

use `await` will return empty.

[2020-03-24 23:35] AndreaInglese commented on #25
I haven't deeply reviewed all the code, but maybe it would be enougth to expose the GitLabHttpFacade on the main GitlabClient class? maybe throught an interface without exposing the internal implementation class.

With that it would be very easy to manually build a http request to gitlab:

[code]
(trying to solve the same as https://github.com/nmklotas/GitLabApiClient/issues/95)

(please do not us

[2020-04-11 06:01] pmsudhi opened #131 "Accessing All Issues in a project"
I am trying to get All issues in a project by Calling `client.Issues.GetAsync(projectID); ` . Obviously it will return all "Opened" issues in that Project. What i was looking for is to get "ALL" Types of Issues (opened,closed etc). I know the overloaded method takes, `Action<ProjectQueryOption>`. I tried different ways, but unable to get it working. Could some one help me in guiding right way to i

[2020-04-12 07:36] pmsudhi commented on #131
Managed to solve this issue by making following changes to my code. Thanks to the Test project, which gave away the clue. Updating here for documentation purpose
`Task.Run(() => client.Issues.GetAllAsync(ID, null, options: o => o.State=GitLabApiClient.Models.Issues.Responses.IssueState.All));`

[2020-04-12 07:36] #131 closed

[2020-04-12 07:42] jetersen commented on #131
You can drop the `Task.Run` as `GetAllAsync` already returns a task.

[2020-04-13 03:11] pmsudhi commented on #131
Thanks @jetersen for pointing out that. corrected the comment. Can you please explain the advantage of using Action Delegate here in parameter instead of passing IssuesQueryOptions object directly?

[2020-04-13 15:06] pmsudhi opened #134 "LoginAsync waiting Infinitely"
When I make a  call to `client.LoginAsync`, the method never returns. The call in
[code]
in GitlabHttpFacade never returns.

Either my self hosted gitlab server blocked the API calls or some thing related to network happened , because my Client application using GitLabAPIClient was working fine until yesterday. Do you have any probable scenarios that may trigger this issue. In either case, the wai

[2020-04-13 15:11] jetersen commented on #134
What version of gitlab are you using?

[2020-04-13 15:20] jetersen commented on #134
Depending on how many projects you have it could take a while to return the result from `client.project.GetAsync()` as it will handle pagination and depending on how many projects you have, you can wait a good while.

[2020-04-13 15:26] jetersen commented on #134
Can you show me the code you written so far to get projects?

If your not careful you could be running code against `gitlab.com` which will definitely take a while to return projects 😆

[2020-04-13 16:06] pmsudhi commented on #134
Gitlab version :12.9.2
Apiclient 1.5

[2020-04-13 16:09] pmsudhi commented on #134
Iam connecting to my Local self hosted instance which have 99 projects.
Also, It is not related to getasync of project , even the loginAsync with username and password also stuck there

[2020-04-13 16:10] jetersen commented on #134
If it's your own self hosted what sort of config do you have?

And why are you not using a token if so?

[2020-04-13 16:11] pmsudhi commented on #134
Iam connecting to my local server which have 99 projects. Also, issue is same if i call LoginAsync method.
This is not a new application, but was working fine until yesterday.

[2020-04-13 16:12] jetersen commented on #134
yesterday? did you upgrade your gitlab since?

[2020-04-13 16:16] pmsudhi commented on #134
Iam not sure what information from configuration you need, will provide accordingly.
 Actual application uses token only, when it stopped returning project list, i created another sample application, which uses LoginAsync . It just doesn't that. Nothing else. That got stuck.

Now if I put http://my server/api/v4/projects in browser , it does return the JSON

[2020-04-13 16:18] jetersen commented on #134
That doesn't really tell me anything useful @pmsudhi

[2020-04-13 16:19] pmsudhi commented on #134
Nope. Gitlab was.updated 2 week ago I guess. Not able to make any guess what would have changed. That is the reason why created new test application just by calling LoginAsync.

[2020-04-13 16:19] jetersen commented on #134
Did the token expire? Did the token get revoked? Are you handling when your oauth token expires?

[2020-04-13 16:20] jetersen commented on #134
What authentication schema have you setup on your gitlab instance?

[2020-04-13 16:42] pmsudhi commented on #134
own user database.
Let me clarify the workflow here. Below is the code snippet from my test application

![Gitlab1](https://user-images.githubusercontent.com/16379528/79138896-efeb4980-7dd2-11ea-8a3c-e28b8ef6646f.PNG)

When I open the Browser I See this
![Gitlab](https://user-images.githubusercontent.com/16379528/79138939-0691a080-7dd3-11ea-8f3f-ad78cf78d815.PNG)

And inside the Gitlabclient it is

[2020-04-13 16:48] jetersen commented on #134
Not sure what to tell you, the integration test for login passes just fine even against the latest version of gitlab.

Is this test code run against netframework 4.8 or dotnet core 3?

[2020-04-13 16:52] pmsudhi commented on #134
Actual code is .NET Standard 2.0 Class library and the test application is .net core 3.1 Windows Application

[2020-04-13 17:12] pmsudhi commented on #134
Got Some additional Information. I ran Fiddler to trace the traffic and it appears, Gitlab does responded with data. Following is the details

**REQUEST**
[code]
**Response**
[code]
The response received within 1s as below
![gitlab5](https://user-images.githubusercontent.com/16379528/79141768-0f38a580-7dd8-11ea-9171-a13b69ca1b9f.PNG)

[2020-04-13 17:16] jetersen commented on #134
So your application actually get's stuck on the lock and not the request itself?

[2020-04-13 17:20] pmsudhi commented on #134
No. The Arrow is little misplaced in the snapshot. :) .  It never hits the lock. the call
`            var accessTokenResponse = await _requestor.Post<AccessTokenResponse>(url, accessTokenRequest);
`
never returns, while the fiddler log shows, data is actually returned

[2020-04-13 17:29] jetersen commented on #134
Not sure why it would get stuck than as you can see for #135 it passes fine.
Here the test that it runs:
https://github.com/nmklotas/GitLabApiClient/blob/master/test/GitLabApiClient.Test/GitLabClientTest.cs#L64

[2020-04-13 17:38] pmsudhi commented on #134
Yeh. Had seen that case. In My system it is like this,
https://drive.google.com/file/d/1fmsgyGcNmlNoUURrmXRDRjrTE1_JijDd/view

[2020-04-13 17:59] jetersen commented on #134
I cannot replicate the issue. 🤷‍♂️

[2020-04-13 18:01] pmsudhi commented on #134
Manged to find the problem . remember the discussion here https://github.com/nmklotas/GitLabApiClient/issues/131#issuecomment-612577194

After this, I had removed Task.Run from my code . Since my calls are from non async methods , the direct call to LoginAsync was /may resulting in a deadlock.

When I call Task.Run, the task created may be in the current context(just like we face problem when acce

[2020-04-13 18:04] jetersen commented on #134
Change your code to call from an async method so you can enjoy async/await code.

[2020-04-13 18:08] pmsudhi commented on #134
I Wish i could. Unfortunately not all use cases can have that luxury. :(

Any ways thanks for the support.closing this issue now.

[2020-04-13 18:08] #134 closed

[2020-04-22 09:56] venu-kuruganti opened #139 "Unable to filter projects when retrieving them"
I want to filter out the projects I retrieve from Git based on Path, Name or any other criteria.

Currently I'm retrieving projects like so:

`var gitProjects = await gitClient.Projects.GetAsync();`

Is there some parameter I can pass to the **GetAsync** function which will filter out the projects before retrieving them?

I checked the code for Projects.GetAsync() and found that it takes

`Action<

[2020-04-22 10:54] jetersen commented on #139
You do not construct a ProjectQueryOptions, you pass it as an action:

[code]

[2020-04-22 11:58] venu-kuruganti commented on #139
OKay but what if I want to include multiple parameters for the filter? How do I separate them out and then pass them in?

[2020-04-22 12:57] jetersen commented on #139
Gitlab's search filter is not that advanced.

Your better off fetching all projects and than use Linq to filter your projects.

[2020-04-22 13:22] #139 closed

[2020-05-01 07:53] ghiboz opened #144 "how can I move an issue?"
hi all!
in the issue web page there is a button to let the user to move the issue into another project.. how can I do this by code?

thank you!

[2020-05-01 08:06] jetersen commented on #144
The API is there: https://docs.gitlab.com/ee/api/issues.html#move-an-issue just not exposed in the issue client, feel free to submit a PR.

[2020-05-01 08:09] hhko opened #145 "how to search "!=""
I want to use "not" condition for search.
![image](https://user-images.githubusercontent.com/12065137/80791850-eaad3d80-8bcd-11ea-8d3a-ff36a5aecc43.png)

- ```public Task<IList<Issue>> GetAllAsync(ProjectId projectId = null, GroupId groupId = null, Action<IssuesQueryOptions> options = null);```

- how to use ```IssuesQueryOptions```?

[2020-05-01 08:23] jetersen commented on #145
https://github.com/nmklotas/GitLabApiClient/issues/139#issuecomment-617705269

[code]

[2020-05-01 08:27] jetersen commented on #145
Okay looking at the API: https://docs.gitlab.com/ee/api/issues.html#list-project-issues we do not support the `not` hash attribute.

[2020-05-01 08:46] hhko commented on #145
- thank you for your consideration.
- this is ok.
[code]

- but. the count of ```issues``` is 0. It does not work well.
[code]

[2020-05-05 08:10] hhko opened #148 "Can't create issue note."
### Sample Code
[code]
- The number of issue is 10.
![image](https://user-images.githubusercontent.com/12065137/81046387-40962400-8ef3-11ea-81db-d3aac2487a47.png)

### Exception
![image](https://user-images.githubusercontent.com/12065137/81045691-a97c9c80-8ef1-11ea-9834-9b06428578b7.png)

- message
[code]
- reference code
  -  GitLabApiClient.Internal.Http.Serialization.RequestsJsonSerializer.Dese

[2020-05-07 11:53] tomer-amir opened #149 "search user in project"
Hi!

I am trying to do a search action in a given project (basically do [this](https://docs.gitlab.com/ee/api/search.html#scope-users-1))

Does this lib support it?

Thanks!

[2020-05-07 15:51] carljmoonpig opened #150 "Unable to list all projects"
Trying to list all projects never returns a response.

`var projects = await _client.Projects.GetAsync();`

From running fiddler the above command seems not to actually make a request.

[2020-05-07 16:10] #150 closed

[2020-05-09 03:49] benothmencode opened #151 "how to enable ssl connection please?"
HttpRequestException: The SSL connection could not be established, see inner exception. i have this error , whenever i run my app , i'm using a gitlab server locally for project reasons , i just need to enable ssl connection ...

[2020-05-28 20:19] ravtakhar opened #153 "When I attempt to pull notes for a particular issue I am getting a 404 error."
var notes = await client.Issues.GetNotesAsync(*****, issue.Id);

[2020-05-29 09:28] msvprogs opened #154 "Library should not override default JSON serializer settings"
The library overrides current JSON default serializer settings by changing the value of the static property `JsonConvert.DefaultSettings`. This is not a desirable behavior because there can be different usages of Newtonsoft.Json library that don't expect these changes.

[2020-05-30 08:58] #154 closed

[2020-05-30 09:00] #112 closed

[2020-05-30 09:04] #104 closed

[2020-06-02 12:59] Redblueflame opened #157 "Error with new MergeStatus entry"
It seems like that Gitlab has added a new merge request status, breaking every single search for a Merge Request.
I have this error:
[code]

[2020-06-12 19:48] sandercox opened #160 "Getting jobs for a runner"
Trying to build a runner monitor tool to see what jobs my runners are running and if they are running etc- some basic health for our CI/CD

Just added some methods to fetch runners for a group. But wondering on where to add the code to get jobs from a runner.

I could add `GetJobsAsync(int runnerId)` in the `RunnersClient` or should I make a new `Jobs` client to do this? Not sure what the preferre

[2020-06-20 15:01] khaalimanushya opened #162 "How to get job response logs"

[2020-06-26 08:40] FlYnN91 commented on #151
I am getting this when trying to connect to Gitlab Cloud from my web app.

[2020-06-26 09:13] TemoxaGreenMoney commented on #157
I have this problem too :(

[2020-06-27 15:25] benothmencode commented on #151
Hi , i end up changing my gitlab url server to http instead of https , i no
longer have a prob. Hope i helped , have a nice day .

Le ven. 26 juin 2020 à 09:41, Dainius Narsutis <notifications@github.com> a
écrit :

[2020-07-09 19:24] tpayne84 commented on #118
Following this thread.

[2020-07-16 10:17] TemoxaGreenMoney commented on #157
@nmklotas  @jetersen fyi pls

[2020-08-18 14:05] Breee opened #169 "How to Trigger a Pipeline"
Greetings,

We are wondering how we trigger a pipeline, using this APIClient.
Thanks in advance!

Cheers
Bree

[2020-08-29 13:49] MurashovAlexander opened #170 "GitLab OpenAPI"
The GitLab team started describing their RestApi using OpenAPI a few days ago.

Please transfer the entire GitLab API to your GitLabApiClient.

I need resource pipeline.

https://gitlab.com/gitlab-org/gitlab-foss/-/blob/master/doc/api/openapi/openapi.yaml

[2020-08-29 14:09] jetersen commented on #170
🤷‍♂️ Only one API endpoint at this moment.
https://gitlab.com/gitlab-org/gitlab-foss/-/raw/master/doc/api/openapi/openapi.yaml

[2020-09-01 08:50] Breee opened #171 "Create Commits"
We want to be able to Create commits on a specific branch,

This is usually done by a POST /projects/:id/repository/commits

see here:
https://docs.gitlab.com/ee/api/commits.html#create-a-commit-with-multiple-files-and-actions

Is this already present in this Client or is this feature missing? We did not find it so far.

[2020-09-01 10:25] TemoxaGreenMoney commented on #157
How long wait answer? Maybe anybody know better library for GitLab Api ?

[2020-09-01 10:32] jetersen commented on #157
Your free to contribute to the project.

[2020-09-01 11:26] TemoxaGreenMoney commented on #157
Yes, but by issue already created PR
 https://github.com/nmklotas/GitLabApiClient/pull/158

I can't merged this PR and make release

[2020-09-02 03:34] TemoxaGreenMoney commented on #157
@nmklotas  check pls

[2020-09-02 05:03] #157 closed

[2020-09-03 07:45] TemoxaGreenMoney commented on #157
![image](https://user-images.githubusercontent.com/42239650/92086078-e4390780-edf3-11ea-9013-a8bbd37774ee.png)

I am updated yesterday nuget package, but error not resolve

![image](https://user-images.githubusercontent.com/42239650/92086232-1a768700-edf4-11ea-9038-374d73da7180.png)

[2020-09-15 08:46] LightVolk opened #175 "Can not get tags from GitLab"
Gitlab version: 13.3.1
GitLabApiClient version: 1.6.0.

I try to get all tags (and create some), but can not.
I write question on SO:  https://stackoverflow.com/questions/63885097/how-to-get-or-create-tags-at-gitlab

And i write simple code via RestSharp:

[code]

So, i get response with all tags.

Response:

`[{"name":"test","message":"","target":"4ea68a3b316837bd3806257d8912f36ef4dd3b79","commit

[2020-09-15 09:00] jetersen commented on #175
Without show what code you wrote when using this library I have no way of knowing what might have gone wrong.

[code]

[2020-09-15 10:33] LightVolk commented on #175
This code works!
`var tag1s = await client.Tags.GetAsync(25);`

`var tags = await client.Tags.GetAsync("group/project");`  -  not works - i try 'usrname/tags-test-project'. I know, that it is not group, but how to know group name?

`var tag = await client.Tags.CreateAsync(25, new CreateTagRequest("autoTag", "master", "auto message", "auto release description"));`
This code works well too!

Thank y

[2020-09-15 10:48] jetersen commented on #175
`username/project` is not a valid path syntax according to gitlab api docs.

I suggest reading here: https://docs.gitlab.com/ee/user/group/

[2020-09-16 07:16] #175 closed

[2020-09-28 08:22] TemoxaGreenMoney opened #177 "Trouble with MergeStatus again"
Hi!
Fix pls
![image](https://user-images.githubusercontent.com/42239650/94407945-56f09500-019e-11eb-83a9-82790db2207c.png)

[2020-09-28 08:25] jetersen commented on #177
Hi please submit pull-request, thanks.

[2020-09-28 08:25] #177 closed

[2020-10-01 07:07] TemoxaGreenMoney opened #178 "Trouble in Nuget?"
I installed from nuget org this package
![image](https://user-images.githubusercontent.com/42239650/94778294-2e130e80-03ef-11eb-8001-9bd664ce64f1.png)

And get error from issue https://github.com/nmklotas/GitLabApiClient/issues/177

But if git clone this repository from branch master and add link to my project i am not get error!

![image](https://user-images.githubusercontent.com/42239650/9477845

[2020-10-01 07:39] jetersen commented on #178
The build is not building properly on appveyor for some reason: https://ci.appveyor.com/project/nmklotas/gitlabapiclient

[2020-10-01 07:43] TemoxaGreenMoney commented on #178
In nuget send version without last changes?

[2020-10-01 07:50] jetersen commented on #178
Nuget packages are being sent from appveyor.

I created an issue with appveyor support: https://help.appveyor.com/discussions/problems/28307-build-not-running-whats-in-appveyoryml

[2020-10-02 04:17] TemoxaGreenMoney commented on #178
@jetersen appveyor answered to you

[2020-10-02 05:26] jetersen commented on #178
@nmklotas I do not have any permissions to the project on appveyor https://ci.appveyor.com/project/nmklotas/gitlabapiclient.

Perhaps we could move the NuGet package deployment to GitHub action.
Though you would need to add the API token to this repo under [settings/secrets](https://github.com/nmklotas/GitLabApiClient/settings/secrets). You can read more about it here: https://docs.github.com/en/f

[2020-10-02 05:40] TemoxaGreenMoney commented on #178
I dont have permissions to the Settings this repo, i think it can made one from contributers

[2020-10-02 06:35] jetersen commented on #178
@TemoxaGreenMoney I was specifically mentioning @nmklotas the message for him 😄

[2020-10-02 20:27] jparadnikas commented on #178
Hello, Sure I will do it now

[2020-10-02 20:27] nmklotas commented on #178
@TemoxaGreenMoney Hello, I will update it now thanks!

[2020-10-02 20:30] nmklotas commented on #178
@jetersen Hello, I have added NUGET_API_KEY to the secrets, thanks

[2020-10-02 20:33] nmklotas commented on #178
I recommend to use github actions, they are so much better than AppVeyor :)

[2020-10-02 20:33] nmklotas commented on #151
Looks like this has been sorted out

[2020-10-02 20:33] #151 closed

[2020-10-02 20:33] jetersen commented on #178
I'll look into updating the github action workflow :)

[2020-10-02 20:41] nmklotas commented on #178
nice 👍 i've added updated nuget api key to appveyor ;)

[2020-10-02 20:45] jetersen commented on #178
Not sure it will help, seems appveyor is having trouble reading the appveyor.yml file 😓

[2020-10-05 03:46] TemoxaGreenMoney commented on #178
@nmklotas  Hello!

But in nuget still has an old version
![image](https://user-images.githubusercontent.com/42239650/95038288-f27e8a00-06f7-11eb-8b0f-2504db55a7a3.png)

[2020-10-05 06:57] jetersen commented on #178
#179 is not merged yet 👍

[2020-10-05 13:06] #178 closed

[2020-10-05 14:23] jetersen commented on #178
realized that the latest nuget package was built without net48 because of project settings. Fixed in #182

[2020-10-22 11:51] merallisa opened #184 "GetAsync add Query builder to MergeRequests"
_gitlabClient.MergeRequests.GetAsync add Query builder to _gitlabClient.MergeRequests.UpdateAsync
and then _gitlabClient.MergeRequests.UpdateAsync - failed

var mergeRequests = _gitlabClient.MergeRequests.GetAsync(project.Id).Result;

                    _gitlabClient.MergeRequests.UpdateAsync(project.Id, mergeRequest.Id, new GitLabApiClient.Models.MergeRequests.Requests.UpdateMergeRequest()

[2020-10-27 15:44] wahmedswl opened #187 "Download Artifacts"
Hi, is there any method to download artifacts against job? GET "projects/{projectId}/jobs/{jobId}/artifacts" should give downloads.

Thanks

[2020-10-27 16:17] jetersen commented on #187
https://github.com/nmklotas/GitLabApiClient/search?q=artifacts

[2020-10-27 17:35] wahmedswl commented on #187
@jetersen what does that mean?

[2020-10-27 18:02] jetersen commented on #187
Well I guess we'll never know 🤠

[2020-10-27 19:13] wahmedswl commented on #187
@jetersen never know what? :-P

[2020-11-12 11:40] th3br0 opened #189 "Add protected tags api analog to protected branch api"
Would it be feasible for you to add this api easily? At the moment I need to implement it manually in addition to get around the missing api feature.

[2020-11-12 14:06] th3br0 opened #190 "BUG?: GitLabApiClient.Models.Branches.Requests.ProtectBranchRequest yields exception"
Trying to create and branch filters (in this case, all permission levels set to maintainer access level) yields an exception:

`GitLabApiClient.GitLabException: {"error":"name is missing, push_access_level is invalid, push_access_level does not have a valid value, merge_access_level is invalid, merge_access_level does not have a valid value"}`

[2020-11-24 14:33] rugbbyli opened #192 "Award Emoji API Support"
Hi, this project was great and very helpful! Little regret it seems not support [`award emoji api`](https://docs.gitlab.com/ee/api/award_emoji.html). I want to know if you have any plan to support it, thank you~

[2020-11-26 08:53] YannGA opened #193 "500 Internal Server Error with GetAsync with Id"
First of all, thanks for your project!

But recently, we switched our local Gitlab server to a new one using the latest Gitlab Release (13.6.1) and we encountered a bug with your library when trying to call Groups.GetAsync with a specific group Id. This throws the exception “500 Internal Server Error”. And it seems to also be the case with Projects.GetAsync.
It was working fine with the old server

[2020-11-30 09:39] PashaGoroshko commented on #187
@wahmedswl Hi, how did you download the artifacts?

[2020-11-30 10:59] jetersen commented on #187
Not currently supported. PRs are welcome to add the endpoint.

[2020-12-08 19:04] seanamosw commented on #190
I'm seeing the same thing:

[code]

[code]

[2020-12-08 23:00] seanamosw opened #195 "remove_source_branch_after_merge missing from Project models"
Not too long ago Gitlab added a `remove_source_branch_after_merge` property to their project resources.
It doesn't look like it has been added to the various Project models.

[2020-12-09 17:35] acuntex opened #196 "Maximum Amount for pagination requests"
We're trying to implement a tool that gets specific latest artifacts.

Our current strategy is to get the pipeline id by using the pipelines api and looking through the jobs of the latest pipelines to detect which pipeline contains a job that contains our needed artifact.

While it's possible to filter by Ref, main/master branches could be a problem over time. Our test system already has over 400

[2020-12-12 20:37] Doome161 commented on #160
I would appreciate this feature as well and I think it makes the most sense to implement it in the ```RunnersClient```.

[2020-12-17 17:46] sinistram opened #198 "GET /projects/:id/merge_requests/:merge_request_iid/approvals"
Implement https://docs.gitlab.com/ee/api/merge_request_approvals.html

[2021-01-24 03:14] shaifulullah opened #202 "No method for Play, Cancel and Retry a single job under a pipeline"
No method for Play, Cancel and Retry a single job under a pipeline. Could you please add such method?

[2021-01-25 14:30] MaaxGr opened #203 "Wrong Datatype for statistics.storage_size"
Storage Size is Bigger than MAX_INT for my project. Probably "long" would be more suitable. :)

[code]

[2021-01-26 20:15] ap0llo opened #204 "ArgumentException when using access token with prefix"
GitLab allows setting a prefix for access tokens (see https://docs.gitlab.com/ee/user/admin_area/settings/account_and_limit_settings.html#personal-access-token-prefix).
However, it seems access tokens with a prefix cannot be used in GitLabApiClient.

## Steps to reproduce

- Create a Access Token in a GitLab instance that has a prefix configured, the access token might look something like this: `p

[2021-02-03 23:08] rdstevens opened #206 "Question: Does this client support the Events API?"
Gitlab has an API for events - a stream of things that happened to objects.

https://docs.gitlab.com/ee/api/events.html

For example, I want to know when a particular issue was closed - the events API can tell me.

Does GitLabApiClient support this API?

In general, is there a list of what is and isn't supported by this client?

Many thanks!
Rob

[2021-02-12 06:22] jam987 opened #208 "Feature Request: Additional operations in Users API"
Hi there,
thanks for the good and feature-rich API client. It saved me a lot of time :-)

But it would be great if the block, unblock, activate, deactivate features could be implemented as well in the Users API.

Thanks a lot & best regards
Jan

[2021-02-13 11:51] IlyaLyubashov opened #209 "Pass "initialize_with_readme" param in "POST /projects""
Hello,
In Gitlab API docs https://docs.gitlab.com/ee/api/projects.html#create-project it's possible to pass initialize_with_readme parameter. But in [CreateProjectRequest model](https://github.com/nmklotas/GitLabApiClient/blob/master/src/GitLabApiClient/Models/Projects/Requests/CreateProjectRequest.cs) there is no prop to specify "initialize_with_readme ".
Can i contribute?

[2021-02-13 12:23] IlyaLyubashov opened #210 "Implement POST /projects/:id/members"
Api Docs ref https://docs.gitlab.com/ee/api/members.html#add-a-member-to-a-group-or-project.
[ProjectsClient](https://github.com/nmklotas/GitLabApiClient/blob/master/src/GitLabApiClient/ProjectsClient.cs) doesn't have method corresponding to "POST /projects/:id/members".
Can i contribute?

[2021-03-17 16:01] rogerfar opened #212 "Implement get raw request"

[2021-05-07 11:26] hgedik commented on #171
up

[2021-06-09 11:48] rgl commented on #162
I think this is not yet implemented.

The API [GET /projects/:id/jobs/:job_id/trace](https://docs.gitlab.com/ee/api/jobs.html#get-a-log-file) must be implemented.

@nmklotas, @jetersen, will you accept a PR for this? I think that returning the http response as-is would be appropriate, what do you think? Or just return it as a string?

[2021-06-17 13:57] jairbubbles opened #219 "NGitLab / GitLabApiClient"
Hello @nmklotas,

In my company, we've been maintaining an internal fork of NGitLab for a few years now and we finally open sourced it. => https://github.com/ubisoft/NGitLab and it's now the official NGitLab repository.

We've also considered switching to this API but it was too much of an investment so we're sticking with NGitLab for now.

We think in the long run, the C# community would be bette

[2021-07-12 20:00] dogac00 opened #220 "Feature Request: Badge API"
Hey there,

I do not see `Badges` in `GitLabClient`. Are there any plans to support Badge API?

Thanks.

[2021-07-22 14:21] deadman2000 commented on #171
It's very important feature. Will it be implemented?

[2021-08-02 18:26] fgreinacher commented on #204
@ap0llo This should be solved now that https://github.com/nmklotas/GitLabApiClient/pull/207 has been merged 🥳

[2021-08-02 18:31] jetersen commented on #204
released in 1.8.0

[2021-08-02 18:31] #204 closed

[2021-08-12 10:17] Monk228 opened #223 "Pulling participants from issues."
I don't see a way to grab participants from issues currently? Its will be in future?

[2021-08-12 11:45] Monk228 commented on #223
And why im subscribed on issue, but API gave me  subscribe=false

[2021-08-15 09:32] db2222 opened #224 "Is this project still active and open to contribution?"
@nmklotas @jetersen
I am asking as there are a lot of (old) pull requests that pass the checks but aren't merged.

This is not meant judgmental as there are dozen of plausible reasons as you could have no/less time, other interests, illness etc.

Maybe these suggestions could help keep this good project alive:
- Add further maintainers.
- Define in the start page (README) what is required for cont

[2021-08-26 11:05] schwabelbauch opened #225 "Download files attached to issues/comments"
Is it possible to download attachments (like images) from issues or comments?
It seems, that the `FilesClient` can only download files from repository.

[2021-10-01 08:30] #19 closed

[2021-10-01 14:49] robnasby opened #228 "Deleting tag fails if tag name contains any URL characters"
If the tag being deleted contains URL characters, such as forward slash (e.g., `foo/bar`), the deletion will fail with a `{"error":"404 Not Found"}` response.  The tag name needs to be URL-encoded before being sent to the GitLab API (e.g., `foo%2fbar`).

[2021-10-01 14:58] robnasby commented on #228
#229

[2021-10-01 14:59] robnasby commented on #228
I just submitted pull request #229 to fix this issue.

[2021-10-12 11:27] RyanGaudion opened #230 "403 Forbidden Error on Project Update"
When trying to update a project I get a 403 forbidden error. Trying it manually shows the error is caused when trying to change the project name.

GitLabApiClient currently requires a name to be set in the constructor of `UpdateProjectRequest` which is causing the issue as I can't create a `UpdateProjectRequest` without setting the name.

[2021-10-12 11:29] RyanGaudion commented on #230
@nmklotas just submitted a pull request and tested locally that this change resolves the issue

[2021-10-17 08:43] nmklotas opened #233 "Nuget api key expired"

[2022-02-21 11:16] virsel opened #238 "Faulty Argument Exception Message in GitLabHttpFacade ctor"
**in `GitLabHttpFacade` ctor on invalid `authenticationToken` parameter**
### Current message

### Possible better message

[2022-02-23 07:01] javed0211 opened #239 "Feature Request - Will you be able to add code to get artifacts for pipeline or job please?"
I am using your code to integrate gitlab instance with one my automation project and its super useful, will you be able to add code to get artifacts from pipeline or job please?

It would be really great to have this option in Gitlab API client

[2022-03-01 12:41] naveendeveloper1989 opened #241 "Did we handled 429 "Too many Request" response?"
Kindly let me know did we handled 429 "Too Many Request" exception in this library?

[2022-04-25 07:21] eferay93 opened #244 "Cannot Fetch Projects with Private Visibility"
Dear developers,

I can only reach to my public project via `client.Projects.GetAsync()` (also tried project id's) but none of my private projects could be retrieved. Is this expected or do i need to try some other staff.

[2022-04-25 08:22] eferay93 commented on #244
Just missed the authentication part.. One needs to learn the authentication token by `client.LoginAsync("TargetIp")` then await the result as `AccessTokenResponse`. Once we have it, we are ready to create the authenticated user by `client.LoginAsync("TargetIp","authenticationString")`. After all, one is ready to see all projects

[2022-04-25 08:22] #244 closed, assigned to nobody

[2022-05-06 14:23] RobThree commented on #206
I'm looking for [`/events`](https://docs.gitlab.com/ee/api/events.html#list-currently-authenticated-users-events) or [`/users/:id/events`](https://docs.gitlab.com/ee/api/events.html#get-user-contribution-events) and haven't found it (yet?) in this client.

[2022-06-13 08:49] Khubajsn opened #245 "BranchClient does not escape special characters in branch names"
When working with branch names that contain special characters (including but not limited to slashes), [BranchClient](https://github.com/nmklotas/GitLabApiClient/blob/89e2a169cf7e3a4d0388050c61450570a4be04ad/src/GitLabApiClient/BranchClient.cs) performs incorrect HTTP requests.

URL encoding for the `branchName` parameter should be added to the following methods:
- GetAsync
- DeleteBranch
- GetPro

[2022-06-22 17:37] Shineson1001 commented on #245
Hi @Khubajsn
i think you have to URL-encoded the branch name link this:
... = System.Web.HttpUtility.UrlEncode(branchName)

GitLab documentation: [File path, branches, and tags name encoding](https://docs.gitlab.com/ee/api/#file-path-branches-and-tags-name-encoding)

But there is also a problem with the parser UriParser class in .NET 4.x if you use %2f in the URL

Workaround .. without warranty
[c

[2022-08-29 10:57] TuTAH1 opened #247 "[question] Can I get lastest release with this API?"
[code]

[2022-10-07 08:34] daniel-rck opened #250 "Missing function to set estimate"
I'm missing a function in `IssuesClient` to set estimate time, like described here: https://docs.gitlab.com/ee/api/issues.html#set-a-time-estimate-for-an-issue.

[2022-11-09 17:31] ptrushin opened #251 "Add functionality to work with boards"
List, create, etc
https://docs.gitlab.com/ee/api/boards.html

Please! Thanks!

[2022-11-10 06:41] reeloadead commented on #107
Current `GET https://gitlab.com/api/v4/namespaces` response has more fields:
[code]

* maybe it worth to implement support for `/namespace` API
or at least
* remove `sealed` modifier from response types like
https://github.com/nmklotas/GitLabApiClient/blob/master/src/GitLabApiClient/Models/Projects/Responses/Namespace.cs

[2022-11-10 22:38] DustinReagan opened #252 "Possible bug with `UpdateAsync` in version 1.8.0?"
Using the gitlab REST api, I am able to successfully update the default_branch of a project:

[code]

response:
[code]

Using GitLabAPiClient, I'm attempting to set the `DefaultBranch` of a `Project` using:

[code]

Response:
[code]

In both cases, I'm using the same Gitlab Access Token and other parameters.

Any ideas?